In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [70]:
sns.set(style="darkgrid")
os.chdir("Future_data/TW") ## 換個位置啊

FileNotFoundError: [Errno 2] No such file or directory: 'Future_data/TW'

In [71]:
df_o = pd.read_csv("TX_1.txt", index_col = False, header=None)
df_o.columns = ["Date","Time","Open","High","Low","Close","Volume"]

In [72]:
len(df_o)

2109871

In [131]:
df = df_o[df_o["Date"]< "2001/01/01"]

In [124]:
df_d_h = df[["Date","High"]].groupby("Date").max()
df_d_L = df[["Date","Low"]].groupby("Date").min()
df_d_O = df[df["Time"] == "09:01:00"][["Date","Open"]].set_index("Date")
df_d_C = df[df["Time"] == "13:45:00"][["Date","Close"]].set_index("Date")
df_d_V = df[["Date","Volume"]].groupby(["Date"]).sum()

print(len(df_d_h),len(df_d_L),len(df_d_O),len(df_d_C),len(df_d_V))

271 271 270 271 271

In [129]:
df_d = pd.concat([df_d_h,df_d_L,df_d_O,df_d_C,df_d_V], axis = 1)

In [135]:
df_d.isnull().sum()

High      0
Low       0
Open      1
Close     0
Volume    0
dtype: int64

In [147]:
df_d = df_d.dropna()

In [148]:
df_d

            High   Low    Open  Close  Volume
2000/01/04  8939  8650  8688.0   8843    2800
2000/01/05  8870  8671  8718.0   8810    2854
2000/01/06  9005  8820  8840.0   8850    2501
2000/01/07  8870  8711  8781.0   8829    2409
2000/01/10  9200  8880  8949.0   9200    2638
...          ...   ...     ...    ...     ...
2000/12/26  4906  4688  4877.0   4688    7223
2000/12/27  4658  4561  4658.0   4565    6420
2000/12/28  4879  4566  4608.0   4867   11954
2000/12/29  4835  4697  4800.0   4707    9409
2000/12/30  4830  4644  4650.0   4770   10126

[270 rows x 5 columns]